.root{
    position: fixed;
    z-index: 999;
    background: rgb(255, 255, 255);
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
}
.container{
    padding: 20px;
}
.heading{
    margin-bottom: 20px;
    font-size: 30px;
}
.item{
    color: #fff;
    padding: 10px;
    font-size: 23px;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    line-height: 16px;
    background: #4267b2;
    border-top: 1px solid #5776b7;
    border-bottom: 1px solid #264d9a;
    text-decoration: none;
}
.hideLink{
    position: absolute;
    right: 10px;
    font-size: 30px;
    color: #4267b2;
}
.newForm{
    margin-top: 40px;
}
.input{
    border: 0px;
    background: #4267b2;
    margin: 10px 0 0 0;
    font-size: 22px;
    font-weight: 300;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    width: 100%;
}
.submit{    
    width: 100%;
    border: 0px;
    font-size: 16px;
    padding: 10px;
    margin: 10px 0 0 0;
    background: #4267b2;
    color: #fff;
    border: 1px solid #254c9c;
}