.root{
    padding: 20px 0;
}
.container{
    // padding: 20px 0;
}
.heading{
    margin-bottom: 20px;
    font-size: 30px;
}
.item{
    color: #fff;
    padding: 10px;
    font-size: 23px;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    line-height: 16px;
    background: #4267b2;
    border-top: 1px solid #5776b7;
    border-bottom: 1px solid #264d9a;
    text-decoration: none;
    em {
        color: #9E9E9E;
        font-size: 16px;
        display: block;
        margin-top: 10px;
    }
}
.directoryTitle{
    margin: 10px 0;
    font-size: 26px;
    color: #4267b2;
    > span{
        margin-left: 20px;
    }
    a{
        background: #4267b2;
        color: #fff;
        padding: 10px;
    }
}