.root{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #4267b2;
    padding: 10px;
    [class^=ion] {
        font-size: 30px;
        line-height: 30px;
    }
    video {
        width: 100%;
        height: 48px;
    }
    input[type=range] {
      -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
      width: 100%; /* Specific width is required for Firefox. */
      background: transparent; /* Otherwise white in Chrome */
      float: left;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    input[type=range]:focus {
      outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    }

    input[type=range]::-ms-track {
      width: 100%;
      cursor: pointer;

      /* Hides the slider so custom styles can be added */
      background: transparent; 
      border-color: transparent;
      color: transparent;
    }
    /* Special styling for WebKit/Blink */
    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: #ffffff;
      cursor: pointer;
      margin-top: -6px;
    }

    /* All the same stuff for Firefox */
    input[type=range]::-moz-range-thumb {
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: #ffffff;
      cursor: pointer;
    }

    /* All the same stuff for IE */
    input[type=range]::-ms-thumb {
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: #ffffff;
      cursor: pointer;
    }

    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: #fff;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #fff;
    }

    input[type=range]::-moz-range-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: #fff;
    }

    input[type=range]::-ms-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    input[type=range]::-ms-fill-lower {
      background: #fff;
    }
    input[type=range]:focus::-ms-fill-lower {
      background: #fff;
    }
    input[type=range]::-ms-fill-upper {
      background: #fff;
    }
    input[type=range]:focus::-ms-fill-upper {
      background: #fff;
    }
}
.error{
    position: fixed;
    top: -100%;
    width: 100%;
    left: 0;
    background: #4267b2;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    color: #ffffff;
    animation: faceOut 2.5s;
}
.control {
    button {
        border: 0;
        font-size: 0;
        padding: 0 5px;
        background: transparent;
        width: 40px;
        color: #f5f8fd;
    }
}
.durationWrap{
    float: right;
    width: calc(100% - 40px);
    color: #fff;
}
.duration{
    float: left;
}
.totalDuration{
    float: right;
}

.cover{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes faceOut {
    0% {opacity: 1;top: 0}
    60% {opacity: 1;top: 0%}
    80% {opacity: 1;top: 0%}
    90% {opacity: 0;top:-50%}
    95% {opacity: 0;top:-80%}
    100% {opacity: 0;top:-100%}
} 

/* Standard syntax */ 
@keyframes faceOut {
    0% {opacity: 1;top: 0}
    60% {opacity: 1;top: 0%}
    80% {opacity: 1;top: 0%}
    90% {opacity: 0;top:-50%}
    95% {opacity: 0;top:-80%}
    100% {opacity: 0;top:-100%}
}