.root{
    width: 100%;
    background: #4267b2;
    padding: 5px;
    position: relative;
}

.form{
    position: relative;
}

.input{
    border: 0;
    padding: 8px;
    font-size: 16px;
    display: table-row-group;
    width: 100%;
}

.optionWrap{
    position: fixed;
    z-index: 999;
    background: rgba(66, 103, 178, 0.04);
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    ul {
        left: 20px;
        right: 20px;
        margin: auto;
        list-style: none;
        background: #fff;
        border-radius: 5px;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        overflow: hidden;
    }
    li{
        padding: 10px 5px;
        text-align: center;
        font-size: 20px;
        background: #4267b2;
        border-top: 1px solid #5776b7;
        border-bottom: 1px solid #264d9a;
        color: #fff;
        a{
            text-decoration: none;
            color: #fff;
        }
    }
}
