.root {
    position: fixed;
    top: 44px;
    width: 100%;
    background: #fff;
    padding: 10px 20px;
    bottom: 63px;
    left: 0;
    overflow: scroll;
}
.item {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
}
.hideLink{
    position: fixed;
    right: 10px;
    font-size: 30px;
    color: #4267b2;
    top: 48px;
}
.link{
    display: flex;
    text-decoration: none;
    img{
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
    .content{
        margin-left: 10px;
        color: #333;
        align-self: center;
        span{
            &:first-child{
                color: #333;
                display: block;
                text-decoration: none;
                width: 100%;
                font-size: 22px;
            }
            &:last-child{
                color: #666;
                text-decoration: none;
                font-size: 18px;
            }
        }
    }
}
.heading{
    margin: 10px 0 5px 0;
    font-size: 30px;
}